<section class="contact-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 form-section">
                <div class="about-us">
                    <div>
                        <h2>¿Qué son las MiniTouristCards?</h2>
                        <p>
                            Son tarjetas digitales en las que se contiene toda la información sobre sitios, productos y servicios que pretenda venderse, anunciarse o promocionarse.
                        </p>
                        <img src="assets/images/screen 1.png">
                        <p>
                            Cuentan con un diseño elegante y en un formato digital muy conveniente y atractivo que hace que el turista o cliente potencial,
                            tenga en su teléfono o dispositivo toda la información específica del lugar de su interés.
                        </p>
                    </div>
                    <div class="about">
                        <div>
                            <h3>Razones para elegir MiniTouristCards</h3>
                            <ul>
                                <li>• Garantía de que tu producto, negocio o servicio estará <strong>¡Siempre al paso de tus clientes</strong> potenciales!</li>
                                <li>• No necesitarás en diferentes medios de publicidad para poder llegar a ellos de manera directa, efectiva y con resultados.</li>
                                <li>• Tu mismo podrás constatar esta eficacia, ya que al momento de descargarse automáticamente se convierte en un cupón de descuento, que seguramente se te presentará, llevado por el mismo cliente en su teléfono o dispositivo</li>
                            </ul>
                            <p>
                                Tus clientes no necesitarán buscar más en guías, no más envolver y desenvolver un mapa, los usuario de <strong>MiniTourist Cards</strong> aman
                                la simplicidad de lo digital, la portabilidad y el vanguardista diseño de nuestras tarjetas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
